*{
	font-size: 15px;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 25px;
}

.div-website {
	float: none;
}

.flippering-ui{
	display: block;
	visibility: hidden;
}

.formula{
	width: 75%;
}


.header-box {
	padding: 10px;
}

.left-div{
		width: 50%;
		display: block;
		margin-left: 5%;
}

.link-icon {
	padding: 15px;
	float: none;
	display: inline-block;
}

.middle-div{
		width: 50%;
		display: block;
		margin: 20px;
		margin-left: 5%;
}

.right-div{
		width: 50%;
		display: block;
}

.text-small{
	font-size: 15px;
}

.title-pre{
	position: relative;
	left: 22%;
	text-align: left;
}

@media only screen and (max-width: 480px){

	h1{
		top: 50px;
		text-shadow: 10px 10px #113300;
		font-size: 25px;
	}

	h2{
		font-size: 22px;
	}

	label{
		display: block;
		float: none;
		text-align: center;
		margin-bottom: 10px;
	}
	.div-web {
		width: 75%;
		height: 20%;
		margin-left: 12.5%;
	}

	.flippering-ui{
		display: block;
		visibility: hidden;
	}

	.formula{
		width: 75%;
	}

	.formula input, select, textarea{
		width: 100%;
	}

	.header{
		height: 100px;
	}

	#mailto {
		width: 50%;
		margin-left: 25%;
		float: none;
	}

	.title-pre{
		position: inherit;
		text-align: center;
	}
}
