*{
	font-size: 25px;
	font-family: monospace;
	border-radius: 5px;
}

body{
	background-color: #dfd;
}

fieldset{
	border: none;
}

footer{
	background-image: url('tile.png');
	height: 100px;
	border-top: 10px solid black;
	border-radius: 0;
}

html,body{
padding: 0;
margin: 0;
}

h1{
	position: relative;
	font-family: monospace;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 90px;
	color: white;
	text-shadow: 20px 20px #113300;
}

h2{
	text-align: center;
	font-size: 40px;
	margin-bottom:0;
}

label{
	float: left;
	text-align: right;
}

textarea{
	width: 100%;
	height: 200px;
	resize: none;
}

.asterix{
	position: absolute;
	left: 32%;
	color: #c03;
}

[class*="btn"]{
	cursor: pointer;
}

.left-div:hover > #img-stats-left{
		opacity: 1;
		transition: 400ms;
}

.left-div:hover > h2{
		opacity: 0;
		transition: 400ms;
}

.middle-div:hover > #img-stats-middle{
		opacity: 1;
		transition: 400ms;
}

.right-div:hover > #img-stats-right{
		opacity: 1;
		transition: 400ms;
}

.div-standard{
	background-color: #dfd;
	margin: auto;
	margin-bottom: 40px
}

.flippering-ui{
	display: none;
	height: 500px;
	width: 90%;
	margin: auto;
}

.form-container{
	width: 90%;
}

.formula{
	margin: auto;
	margin-bottom: 30px;
	background-color: #0b0;
	padding: 20px;
	border: 2px solid black;
	width: 40%;

}

.formula input, select, textarea{
	position: relative;
	top: -4px;
	width: 70%;
	float: right;
}

.header{
	background-image: url('code-screen.png');
	background-size: cover;
	background-position: 0% 40%;
	width: 100%;
	height: 200px;
	border-bottom: 10px groove green;
	border-radius: 0;
}

#img-stats-left{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 400ms;
	z-index: 5;
}

#img-stats-middle{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 400ms;
	z-index: 5;
}

#img-stats-right{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: 400ms;
	z-index: 5;
}

.left-div{
		float: left;
		margin-left: 12%;
		width: 350px;
		height: 300px;
		background-color: black;
		background-image: url("kuden force.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		background-color: #1e88c2;
		border: 1px solid green;
}

.middle-div{
		float:left;
		margin-left: 5%;
		width: 350px;
		height: 300px;
		background-image: url("aec-de-jouet.png");
		background-size: contain;
		border: 1px solid green;
}

.notice-box:before{
	content: "\200b";
}

.notice-box{
	margin-left: 55%;
	font-size: 15px;
	color: #c03;
	weight: bold;
	text-align: right;
}

.main-article{
	background-color: #dfd;
}

#message-box{
	margin-left: 5%;
	margin-top: 50px;
	padding: 50px;
	height: 100px;
	text-align: center;
	background-color: #dfd;
	visibility: hidden;
}

.portfolio{
	margin: auto;
	height: 350px;
}

.right-div{
		float: left;
		margin-left: 5%;
		width: 350px;
		height: 300px;
		background-color: black;
		background-image: url("roll20-sheet.png");
		background-size: contain;
		border: 1px solid green;
}

.screen-tech{
	overflow: hidden;
	background-color: #eee;
	border-bottom: 7px green;
	border-style: groove;
	border-radius: 0;
}

.text-small{
	font-size: 20px;
}

.text-center{
	text-align: center;
}

.text-light{
  color: white;
}

.text-center{
	text-align: center;
}

.text-light{
  color: white;
}
