*{
	font-size: 25px;
	font-family: monospace;
}

html,body{
padding: 0;
margin: 0;
}

h1{
	position: relative;
	font-family: monospace;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 90px;
	color: white;
	text-shadow: 20px 20px #113300;
}

body{
	background-image: url('tile.png');
}

textarea{
	width: 100%;
	height: 200px;
	resize: none;
}

.div-standard{
	border: 7px green;
	border-style: groove;
	background-color: #dfd;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 40px
}

.form-container{

	width: 75%;
}

.formula{
	position: relative;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #0b0;
	top: 25%;
	padding: 20px;
	border: 2px solid black;
}

.formula input{
	width: 100%;
}

.header{
	background-image: url('code-screen.png');
	background-size: cover;
	background-position: 0% 40%;
	width: 100%;
	height: 300px;
	border-bottom: 10px groove green;
}

.left-div{
		position: relative;
		top: 12%;
		float: left;
		margin-left: 3%;
		width: 29.3%;
		height: 75%;
		background-color: black;
}

.middle-div{
		position: relative;
		top: 12%;
		float:left;
		margin-left: 3%;
		width: 29.3%;
		height: 75%;
		background-color: black;
}

.portfolio{
	width: 75%;
	height: 400px;
}

.right-div{
		position: relative;
		top: 12%;
		float: left;
		margin-left: 3%;
		width: 29.3%;
		height: 75%;
		background-color: black;
}

.screen-tech{
	overflow: hidden;
	background-color: #eee;
	width: 90%;
	margin: auto;
	margin-bottom: 5%;
}

.text-center{
	text-align: center;
}

.text-light{
  color: white;
}

.text-center{
	text-align: center;
}

.text-light{
  color: white;
}
